.grid {
  position: relative;

  --column-header-height: 30px;
  --row-header-width: 60px;

  > div:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    > div {
      position: relative;
      margin-top: var(--column-header-height);
      margin-left: var(--row-header-width);
    }
  }

  > div:nth-of-type(2) {
    position: absolute;
    top: 0;
    left: var(--row-header-width);
    width: calc(100% - 1rem - var(--row-header-width));
    height: var(--column-header-height);
    background-color: #eee;
    overflow: hidden;
  }

  > div:nth-of-type(3) {
    position: absolute;
    top: var(--column-header-height);
    left: 0;
    width: var(--row-header-width);
    height: calc(100% - 1rem - var(--column-header-height));
    background-color: #eee;
    overflow: hidden;
  }

  .cell {
    border: 1px solid #ddd;
    position: absolute;
    padding: 4px;
    overflow: hidden;
  }
}
