.layout {
  width: 100%;
  height: 100%;
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem 2.5rem 1fr;
  grid-gap: 1rem;

  > div:nth-of-type(3) {
    overflow: auto;
  }
}
